* {
    padding: 0px;
    margin: 0px;
}

nav {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 5px;
    background-color: whitesmoke;
    color: black;
    padding: 10px;
    width: "100%";
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
}

button {
    font-size: large;
    background-color: white;
    border-radius: 15px;
    border-width: 1px;
    border-color: black;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    margin: 2px;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pixel {
    width: 25px;
    height: 25px;
    border: 0.5px solid rgba(0, 0, 0, 0.25);
    background-color: white;
    cursor: pointer;
}

.color {
    width: 30px;
    height: 30px;
    border: 0.5px solid black;
    cursor: pointer;
}